/* pink:#CF1E6F */
/* dark pink:#8F2355 */
* {
    font-family: Montserrat;
    margin: 0;
}
body{
  margin-left: 0.8%;
  margin-right: 0;
}
@font-face {
    font-family: 'space_ageregular';
    src: url('space_age-webfont.woff2') format('woff2'),
         url('space_age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.n{
    font-family: space_ageregular;
    font-size: 2rem;
}
.navbar-nav>li{
    padding-left: 10px;
    padding-right: 10px;
}
.na{
    background-color: #CF1E6F;
    padding:0 30px 0 30px;
}
.nav-link{
    color: whitesmoke;
}

.container-fluid{
    background-color:white;
    padding:0;
}
.home img{
  width: 98vw;
}
.ab{
    padding: 2%;
    height: 100%;
    background-image:url("about.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.des{
    position: relative;
    border-radius: 20px;
    height: 80%;
    width: 50vw;
    left:23.5vw;
    top:13%;
    background-color:white;
    padding:3%;
    box-shadow:5px 5px 10px 0  #CF1E6F;
}
.head-2{
    text-align: center;
    color:#CF1E6F;
}
p{
    font-size: 15px;
    color:black;
    line-height: 2;
    height: 100%;
}



.services{
    margin:0 1%;
    height: fit-content;
    padding:3% 0 2% 0;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .button {
    width: 35%;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color:black;
    font-size: 16px;
  }
  
  .imgser img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;

  }
  .serv h5{
    padding:4% 0;
  }
  .col-lg-5{
    padding-bottom: 15%;
  }
  .b:link{
    text-decoration: none;
    color: white;
  }
  
  .b:active{
    text-decoration: none;
    color: #dc10c4;
  }
  .b:visited{
    text-decoration: none;
    color: white;
 }
 .b:hover{
  text-decoration: none;
  color: #000; 
}
  .back
  {
    background-color: #000;
    border-radius: 10px 10px 0 0 ;
    color: #fff;
  }
  .list1{
    border:5px solid #000;
    border-top:0px;
    padding: 0%;
    align-self: center;
    border-radius: 15px;
  }
  .list2{
    margin-left: 2%;
  }
.services{
  display: flex;
  flex-direction: column;
}
.services button{
  background-color: #CF1E6F;
}
.serv{
  display:flex ;
  justify-content:space-evenly;
}
.list{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.amount{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.amount h5
{
  margin: 15% 0;
}


.i{
  display: flex;
  flex-direction:row;
  /* flex-wrap: wrap; */
}
.i1{
  width: 50vw;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}
.i2{
  width:50vw;
}
#contact img{
  width: 40%;
}
#contact h2{
  text-shadow:#000 5px 5px 10px;
}
.acon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
}
.con{
  display: flex;
}
.location{
  margin: 0% 2% 0% 0%;
}
.ph,.fb{
  margin-left: 2%;
}
.details h2{
  margin-top: 3%;
}
.fblink,.address{
  text-decoration: none;
  color: black;
}
.address{
  letter-spacing: 1.5px;
}
.num{
  letter-spacing:2px;
}
   .gallery{
    background-color: black;
    padding: 5%;

   }
.gal{
    width:32%;
}
.images img{
    border-radius: 20px;
    border:7px solid #CF1E6F;
    box-shadow:0 0 20px 0  black;
    /* filter: drop-shadow(); */
}
.c{
    margin:auto;
}
.c h1{
    color: #fff;
}
.gal:hover{
 transform: scale(1.1);
 z-index: 1;
}
.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve{
   /* margin:auto; */
   display: inline;
   background-color: #000;
   opacity: 0.5;
}

.one:hover{
  opacity:1;
}
.two:hover{
    opacity:1;
  }
  .three:hover{
    opacity:1;
  }
  .four:hover{
    opacity:1;
  }
  .five:hover{
    opacity:1;
  }
  .six:hover{
    opacity:1;
  }
  .seven:hover{
    opacity:1;
  }
  .eight:hover{
    opacity:1;
  }
  .nine:hover{
    opacity:1;
  }
  .ten:hover{
    opacity:1;
  }
  .eleven:hover{
    opacity:1;
  }
  .twelve:hover{
    opacity:1;
  }


    

/* media */
@media (max-width:430px) {
    .na{
        padding: 0 10px 0 10px;
    }
    .ab{
        padding: 3%;
        background-image: linear-gradient(black,black);
    }
    .des{
        left:18px;
        width:90%;
        
    }
    .head-2{
        font-size: 20px;
        font-weight: bold;
    }
    .des p{
        font-size: 14px;
    }
    
    .images img{
        width:49%;
    }
    .gal:hover{
        transform: scale(1.25);
        z-index: 1;
       }
       #contact img{
        width: 65%;
      }
    .i1,.i2{
     width: auto;
    }
    .list1{
      margin-left: 3%;
    }
    .row{
     width: 100%;
    }
    .gallery{
     margin: auto;
  }
  .c h1{
   margin-left: 10%;
  }
  .images{
   margin-left: 9%;
  }
  .address{
    font-size: 80%;
    font-weight: 550;
  }
  .num{
    font-size: 85%;
    font-weight: 550;
  }
  .i{
    flex-wrap: wrap-reverse;
  }
}
